# Asana Personal Access Token
# Generate at: https://app.asana.com/0/my-profile/apps
ASANA_PAT=your_personal_access_token_here

# Asana Project GIDs
# Find in the URL when viewing a project: asana.com/0/PROJECT_GID/...
ASANA_PROJECT_GID_1=your_first_project_gid_here
ASANA_PROJECT_GID_2=your_second_project_gid_here
